<h1>Edit user</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Name..."
      value="<%= user.name %>"
    />
  </div>
  <div class="mb-3">
    <label for="">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Email..."
      value="<%= user.email %>"
    />
  </div>
  <div class="mb-3">
    <label for="">Status</label>
    <select name="status" class="form-select">
      <option value="0" <%= !user.status ? 'selected': '' %>>Inactive</option>
      <option value="1" <%= user.status ? 'selected': '' %>>Active</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="">Courses</label>
    <% courses.forEach(({id, name}) => { 
      const isChecked = user.courses.find(item => item.id === id);
      %>
    <label class="d-block mb-2">
      <input type="checkbox" name="courses" value="<%= id %>" <%= isChecked ? 'checked': '' %>/>
      <%= name %>
    </label>
    <% }) %>
  </div>
  <button class="btn btn-primary">Save</button>
</form>